/**
 * @file
 * Subtheme specific CSS.
 */

body {
  min-height: 100vh;
}

/* HOME */

/* Hero image */
.hero-image {
  position: relative;
  margin-bottom: 2%;
}

.hero-image img {
  max-width: 100%;
  height: auto;
  margin: 0;
}

.hero-text {
  margin: 0;
  color: rgb(33, 37, 41);;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background: rgba(33, 37, 41, 0.185);
  font-size: 15px;
}

/* Introduction */
article.article-image .block-region-text h3 {
  margin-bottom: 2rem;
  font-weight: 300;
}

article.article-image .block-region-image {
	border: white solid 12px;
	border-bottom: white solid 35px;
	filter: drop-shadow(4px 7px 5px #afafaf70);
}

article.article-image .block-region-image img {
  margin: 0;
  max-width: 100%;
  height: auto;
}

/* Gallery */
.homepage-gallery .field--type-image img {
	padding: .25rem;
	background-color: #fff;
	border: 1px solid #dee2e6;
	border-radius: .25rem;
	max-width: 100%;
	height: auto;
}

/* PRODUCTS */

.page-view-products .products-overview.row {
  border: 1px solid #ccc;
  padding-top: 15px;
  padding-right: 15px;
  margin-left: 0;
  margin-right: 0;
  background: white;
}

.page-view-products .facets-widget-links ul{
  list-style-type: none;
}

.page-view-products .block-facets ul {
  padding-left: 0;
}

.page-view-products .block-facets ul ul li {
  margin-left: 0;
}

.page-view-products .block-facets a {
  width: 100%;
  display: block;
  padding: 20px 10px;
}

.page-view-products .block-facets a.is-active {
  background-color: #28592c;
  color:#fff;
}

.page-view-products .block-facets ul li a {
  background-color: #343a40;
  color: #fff;
  border-bottom: 0.25px solid;
}

.page-view-products .block-facets ul ul li a {
  background-color: #D3D3D3;
  color: #343a40;;
}

.page-view-products .block-facets ul ul ul li a {
  background-color: #D3D3D3;
  color: #343a40;
}

.page-view-products .block-facets ul ul ul ul li a {
  background-color: #7193b6;
}

.page-view-products .block-facets ul ul ul ul li a {
  background-color: #81a7d0;
}

.products .product {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.products .product img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.products .product h4 {
  font-size: 1rem;
  text-align: center;
}

.products .product h4 a {
  color: #476C66;
}

.products .field--name-field-price{
    font-weight: 600;
    font-size: 1.2em;
    text-align: center;
}

.products .card-footer {
  text-align: center;
}

.page-view-products  .pagination{
  justify-content: center;
}

.col-sm-12.block {
  margin-top: 40px;
  margin-bottom: 40px;
  background: #ccc;
  border: 1px solid #545b628c;
}

/* PRODUCT */

.category-subcategory .breadcrumb {
  background-color: transparent;
  padding-top: 20px;
}

.field--name-field-product-image .field__item{
  background: #fff;
}

.product-image img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.field--name-node-title h2{
  color:#476C66;
}

.field--name-field-price .field__item{
  font-weight: 600;
  font-size: 1.2em;
  padding-bottom: 20px;
}
/*ABOUT US OVERVIEW */
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.img-thumbnail {
  width: 15%;
}

.information-for-rob {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* CONTACT */

.contact {
  margin-top: 20px;
}

.contact h3 {
  font-size: 1.4rem;
}

.contact .contact-info a {
  font-size: 0.9em;
}

.contact-map iframe {
	border: 0;
	width: 100% !important;
	height: 400px;
}

/* Featured bottom */

.region-featured-bottom {
  margin-top: 40px;
}

/* FOOTER */

.footer {
  background-color: #c3b8a0;
  width: 100%;
  text-align: left;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding: 50px;
  margin-top: 50px;
  transition: all .4s;
}


/* footer left*/

.footer .footer-left {
  padding-right: 15px;
}

.footer .footer-center {
  margin: 0 auto;
  width: max-content;
}

.footer .social-media-icons {
  text-align: center;
  margin-top: 20px;
}

.footer .social-media-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}


.footer .footer-center i {
  background-color: #33383b;
  color: #fff;
  font-size: 22px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  text-align: center;
  line-height: 43px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer .footer-center p {
  display: inline-block;
  color: #3c3831;
  vertical-align: middle;
  margin: 0;
}

.footer .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer .footer-center p a {
  color: #3c3831;
  text-decoration: none;
}

.footer .footer-center i {
  margin-left: 0;
}

.footer .footer-image-left {
  text-align: left;
}

.footer .footer-image-right {
  text-align: right;
}

.footer-left.footer-text-down {
  text-align: center;
}

/* Development */
.placeholder {
  background: pink url("/themes/custom/barrio_herbalstore/images/placeholder.png");
}
