# The base URL where the website is published.
BASE_URL=http://localhost:8888/

# The absolute path where to store screenshots of failed Behat steps.
SCREENSHOTS_PATH=/tmp/screenshots

# The URL of the Selenium webdriver.
WEBDRIVER_HOST=http://localhost:4444/wd/hub


# Drush
# -----

# Whether or not to show verbose command output
DRUSH_VERBOSE=true
