language: php
dist: bionic

cache:
  directories:
    - $HOME/.composer/cache/files

php:
  - 7.2

env:
  global:
    - COMPOSER_MEMORY_LIMIT=2G
    - BASE_URL="http://127.0.0.1:8888"
    - SCREENSHOTS_PATH="/tmp"
    # Todo: install Selenium.
    - WEBDRIVER_HOST="http://127.0.0.1:4444"

mysql:
  database: herbalstore
  username: root
  encoding: utf8

services:
  - mysql

install:
  - composer --verbose install
  - cp .env.dist .env
  - cp resources/travis-ci/settings.php web/sites/default/
  - ./vendor/bin/robo dev:setup
  - ./vendor/bin/drush site:install --existing-config --db-url=mysql://root@localhost/herbalstore --yes

before_script:
  # Start the PHP web server and wait for it to come online.
  - ./vendor/bin/drush runserver :8888 &> /dev/null &
  - until curl -s localhost:8888; do true; done > /dev/null

script:
  - ./vendor/bin/behat
