 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline;
}
body{
  background-color: #AFC2BE;
  padding: 4rem 0rem;
}
.container{
 background-color: #FFF;
  // border-radius: 0.3em;
  padding: 2em;
}
.img-fluid{
    width: 100%;
    height: 20%;
}
.fa:hover {
    opacity: 0.7;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
