{%
  set classes = [
    'block',
    'hero-image',
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% block content %}
    {{ content }}
    <div class="hero-text">
      <h2>Gezondheidswinkel</h2>
      <p>Health/beauty</p>
    </div>
  {% endblock %}
</div>
